*{
	margin: 0;
	padding: 0;
	font-family: 'Kiwi Maru', serif;
	box-sizing: border-box;
}
.header{
	min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/tax.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
}
nav{
	background: rgba(0,0,0,0.2);
	display: flex;
	padding: 0 40% 0 5%;
	justify-content: space-between;
	align-items: center;
	position: sticky;
}
nav img{
	width: 200px;
	padding-top:5%; 
}
.nav-links{
	flex:1;
	text-align: right;
}
.nav-links ul li {
	list-style: none;
	display: inline-block;
	padding: 8px 10px;
	position: relative;
}
.nav-links ul li a{
	color: #4388f7;
	text-decoration: none;
	font-size: 20px;
}
.nav-links ul li::after {
	content: '';
	width:0%;
	height:2px;
	background: #f44336;
	display: block;
	margin: auto;
	transition:0.5s;
}
.nav-links ul li:hover::after{
	width: 100%;

}
.dropdown{
	background: transparent;
	border: none;
}
.dropdown-submenu {
	background: transparent;
	border:none;
    position: relative;
}
.dropdown-item{
	background: transparent;
	border:none;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}


.dropdown-submenu:hover>.dropdown-menu {
	
    display: block;
}

.dropdown-submenu>a:after {

    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
	
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
	
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.text-box{
	width: 90%;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.text-box h1{
	font-size: 62px;

}
.text-box p{
	margin:10px 0 40px;
	font-size: 14px;
	color: #fff;
}
.know-btn{
	display: inline-block;
	text-decoration: none;
	color:#fff;
	border:1px solid #fff;
	padding: 12px 34px;
	background: transparent;
	position: relative;
	cursor: pointer;
}
.know-btn:hover{
	border:1px solid #f44336;
	background: #f44336;
	transition: 1s;
}
nav  .fa-bars{
	display: none;	
}
nav .fa-times{
	display: none;	
}
@media(max-width: 1000px){
.text-box h1{
	font-size: 60px;

}
.nav-links ul li {
	display: block;
}
.nav-links{
	position: fixed;
	font-size: 100px;
	background: blue;
	height: 100vh;
	width: 600px;
	top:0;
	right: -600px;
	text-align: left;
	z-index: 2;
	transition: 1s;
	
}
nav .fa-times{

	display: block;
	color:#fff;
	margin: 1px;
	right: 0;
	font-size:60px;
	cursor: pointer;
}
nav .fa-bars
{
	display: block;
	color:#fff;
	margin: 1px;
	font-size:60px;
	cursor: pointer;
}
.nav-links ul{
	padding: 10px;

}
}

/*-------------------------------gst registration------------------*/
.gst-reg{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
}
h1{
	font-size: 36px;
	font-weight: 600;
}

p{
	color: #777;
	font-size: 14px;
	font-weight: bold;
	line-height: 22px;
	padding:10px;
}

.row{
	margin-top: 5%;
	display: flex;
	justify-content: space-between;
}
.gst-col{
	flex-basis: 31%;
	background: #fff3f3;
	border-radius: 10px;
	margin-bottom: 5%;
	padding: 20px 12px;
	box-sizing: border-box;
}
.gst-type-col{
	flex-basis: 40%;
	background: #fff3f3;
	border-radius: 10px;
	margin-bottom: 2%;
	box-sizing: border-box;
}
h3{
	text-align: center;
	font-weight: 600;
	margin:10px 0;
}
.gst-col:hover{
	box-shadow:  0 0 20px  0px rgba(0,0,0,0.2);
}
.gst-type-col:hover{
	box-shadow:  0 0 20px  0px rgba(0,0,0,0.2);
}
.gstbenifits {
  background-color:#fff3f3;
  color: grey;
  font-weight: bold;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  font-size: 25px;
  transition: 0.4s;
  
}

.active, .gstbenifits:hover {
   background-color: rgba(0,0,0,0.3);
}
.gstbenifits:after {
  content: '\002B';
   font-size: 25px;
  color:  #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  background-color: #fff3f3;
  color: #fff;
  font-weight: bold;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.doc{
	flex-basis: 40%;
	background: #fff3f3;
	border-radius: 10px;
	margin-bottom: 2%;
	box-sizing: border-box;
	transform: scale(1.0);
}
.doc:hover{
	box-shadow:  0 0 20px  0px rgba(0,0,0,0.2);
}

@media(max-width: 1000px){
.row{
	flex-direction: column;
}
}

/*-------------------------------------------processs---------------------------------------------------------*/
.procedure{
	width: 80%;
	margin:auto;
	text-align: center;
	padding-top:100px;
	background: #fff3f3;
	box-sizing: border-box;
}

.timeline{
	text-decoration: none;
}
ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 50px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
/*-----------------------------mandatory--------------------------------*/
.mandatory{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
}
.mand-col
{
	flex-basis: 32%;
	border-radius: 10px;
	margin-bottom: 30px;
	position: relative;
	overflow: hidden;
}
.mand-col img{
	width: 100%;
	height: 95%;
	display: block;
}
.layer{
	background: transparent;
	height: 100%;
	width: 100%;
	opacity: 0;
	position: absolute;
	top:0;
	left:0;
	transition: 0.5s;
}
.layer:hover{
	background: rgba(226,0,0,0.7);
	opacity: 2;
}
.layer h3{
	width: 100%;
	font-weight: 700;
	color:#fff;
	font-size: 26px;
	bottom: 3;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
}
.layer:hover h3{
	bottom: 40%;
	opacity: 1;
	transition: 0.5s;
}
/*---------------------------------sales---------------------------------*/
.sales{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
}
.sales-col{
	flex-basis: 40%;
	background: #fff3f3;
	border-radius: 10px;
	margin-bottom: 5%;
	padding: 20px 12px;
	box-sizing: border-box;
}
.sales-col:hover{
	box-shadow:  0 0 20px  0px rgba(0,0,0,0.2);
}
/*-----------------------------------dealerss---------------------------------*/
.dealers
{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
}

/*-------------------------------------calculation-------------------------*/
.calculation{
	background: #fff3f3;
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
}
.calculation h2{
   color: tomato;
}
.calculation th{
   color: green;
  font-weight: 600;
}
.calculation tr:hover{
   background: black;
   color: white;
}
/*-----------------------pricing--------------------------------------------*/
.pack{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
}
.pack-col {
  float: left;
  width: 33.3%;
  padding: 8px;
}

.price {
  list-style-type: none;
  border: 10px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.9)
}

.price .top {
  background: #111;
  color: white;
  font-size: 25px;
}

.price li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
  outline: none;
}

.price .grey {
  background: #fff3f3;
  font-size: 20px;
  outline: none;
}

.button {
  background: blue;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  outline: none;
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
  .pack-col {
    width: 100%;
  }
}
/*-----------------------------------sallah-------------------------------------*/
.salah{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
}
.salah-col{
	flex-basis: 100%;
	border-radius: 10px;
	margin-bottom: 30px;
	font-weight:bold;
	font-size: 100px;
	position: relative;
	overflow: hidden;
}
/*-----------------------------------------faq---------------------------------*/
.faq{
	width: 80%;
	height: 100vh;
	margin: auto;
	text-align: center;
	padding-top: 100px;
	overflow: hidden;
}
.gstbenifits {
  background-color:#fff3f3;
  color: grey;
  font-weight: bold;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  font-size: 25px;
  transition: 0.4s;
  
}

.active, .gstbenifits:hover {
   background-color: rgba(0,0,0,0.3);
}
.gstbenifits:after {
  content: '\002B';
   font-size: 25px;
  color:  #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
.active:after {
  content: "\2212";
}

.ans {
  padding: 0 18px;
  background-color: #fff3f3;
  color: #fff;
  font-weight: bold;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
/*------------------------------------contact----------------------------------*/
.contact{
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/g.jpg);
	width: 80%;
	margin:100px auto;
	background-position: center;
	background-size: cover;
	border-radius: 10px;
	text-align: center;
	padding: 100px 0;
}
.contact h2{
	color: tomato;
}
.contact input[type=text], select{
  width: 20%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
.contact input[type=phone]{
  width: 20%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
.contact input[type=email]{
  width: 40%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
.contact input[type=subject]{
  width: 40%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
.contact textarea{
	width: 40%;
	height: 100px;
	border: 1px solid #ccc;
}

.contact input[type=submit] {
  background-color: tomato;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact input[type=submit]:hover {
  background-color: lightblue;
}
/*-------------------about--------------------------*/
.about {
	background: #034c54;
	width: 100%;
	margin:100px auto;
	padding: 100px 0;
}
.about img{
	width: 150px;
}
.fa{
   color: orange;
   padding: 5px;
}
.box {
  float: left;
  width: 20%;
  padding: 5px;
  font-size: 30px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


/*------------footer------------------------------*/
.footer{
	width: 100%;
	text-align: center;
	padding: 30px 0;
}
.footer h4{
	margin-bottom: 25px;
	margin-top: 20px;
	font-weight: 600;
	font-size: 50px;
}
.icons .fa{
   color:#f44336;
   margin:0 13px;
   cursor: pointer; 
}
.fa-heart-o{
	color:#f44336;
}
